<%- include('header') -%>

<h1>Viðburða&shy; umsjón</h1>

<h2>Viðburðir á&shy; næstunni</h2>



<ul>
    <% events.forEach((row) => { %>
        <li> 
            <a href="forritara.ejs"> <%= row.name %></a>
            <%= row.description %>
        </li>
    <% }) %> 
    <li>
        <a href="forritara.ejs">Forritarahittingur í febrúar</a>
        Forritarar hittast í febrúar og forrita saman eitthvað frábært.
        Uppfæra viðburð
    </li>
    <li>
        <a href="honnuda.ejs">Hönnuðahittingur í mars</a>
        <h3>Spennandi hittingur hönnuða í Hönnunarmars.</h3>
        <h3>Uppfæra viðburð</h3>
    </li>
    <li>
        <a href="verkefna.ejs">Verkefnastjórnahittingur í apríl</a>
        <h3>Virkilega vel verkefnastýrður hittingur</h3>
        <h3>Uppfæra viðburð</h3>
    </li>
</ul>

<%- include('footer') -%>
